@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    var companyMail = ViewBag.CompanyMail;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <hr />
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-up"></i> Go to Home page</a>
</div>
