@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    var companyMail = ViewBag.CompanyMail;
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Please check your email to reset your password.
</p>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-up"></i> Go to Home page</a>
</div>

