@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    var companyMail = ViewBag.CompanyMail;
}

<header>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>You have successfully logged out of the application.</p>
</header>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-up"></i> Go to Home page</a>
</div>