@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-up"></i> Go to Home page</a>
</div>
