@model MechanicCompany.Models.RepairPart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RepairPart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairRecordId" class="control-label"></label>
                <select asp-for="RepairRecordId" class ="form-control" asp-items="ViewBag.RepairRecordId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartName" class="control-label"></label>
                <input asp-for="PartName" class="form-control" />
                <span asp-validation-for="PartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartCompany" class="control-label"></label>
                <input asp-for="PartCompany" class="form-control" />
                <span asp-validation-for="PartCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartCost" class="control-label"></label>
                <input asp-for="PartCost" class="form-control" />
                <span asp-validation-for="PartCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
