@model MechanicCompany.Models.RepairRecord
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Add repair";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companyMail = ViewBag.CompanyMail;
}
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity.Name != companyMail)
    {
        <h1>Add repair</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="LaborCost" hidden="hidden" class="form-control" value="0,00" />
                    <div class="form-group">
                        <label asp-for="Car" class="control-label"></label>
                        <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                        <span asp-validation-for="CarId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mechanic" class="control-label"></label>
                        <select asp-for="MechanicId" class="form-control" asp-items="ViewBag.MechanicId"></select>
                        <span asp-validation-for="MechanicId" class="text-danger"></span>
                    </div>
                    <input asp-for="StatusRepair" class="form-control" hidden="hidden" value="@ViewBag.StatusRepair2" />
                    <div class="form-group">
                        <label asp-for="VisitDate" class="control-label"></label>
                        <input asp-for="VisitDate" class="form-control" />
                        <span asp-validation-for="VisitDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add repair</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-left"></i> Back to repairs</a>
        </div>
    }
    else
    {
        <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
        <br />
        <div>
            <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
        </div>
    }
}
else
{
    <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
    <br />
    <div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
