@page
@model DeletePersonalDataModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    var companyMail = ViewBag.CompanyMail;
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <div class="input-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Enter Password" />
                    <div class="input-group-append">
                        <span class="input-group-text text-secondary font-weight-bold"><i class="fa fa-key"></i></span>
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit"><i class="fa fa-minus-circle"></i> Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}