@page
@model DownloadPersonalDataModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    var companyMail = ViewBag.CompanyMail;
}

<h4>@ViewData["Title"]</h4>
<hr />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}