@model MechanicCompany.Models.Car
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Add car";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companyMail = ViewBag.CompanyMail;
}
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity.Name != companyMail)
    {
        <h1>Add car</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ApplicationUserId" hidden="hidden" value="@ViewBag.CurrentUserId" />
                    <div class="form-group">
                        <label asp-for="CarBrand" class="control-label"></label>
                        <input asp-for="CarBrand" class="form-control" />
                        <span asp-validation-for="CarBrand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarModel" class="control-label"></label>
                        <input asp-for="CarModel" class="form-control" />
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductionYear" class="control-label"></label>
                        <input asp-for="ProductionYear" class="form-control" />
                        <span asp-validation-for="ProductionYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EngineVolume" class="control-label"></label>
                        <input asp-for="EngineVolume" class="form-control" />
                        <span asp-validation-for="EngineVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EngineName" class="control-label"></label>
                        <input asp-for="EngineName" class="form-control" />
                        <span asp-validation-for="EngineName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnginePower" class="control-label"></label>
                        <input asp-for="EnginePower" class="form-control" />
                        <span asp-validation-for="EnginePower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EngineTypeOfFuel" class="control-label"></label>
                        <select asp-for="EngineTypeOfFuel" class="form-control" asp-items="ViewBag.EngineTypeOfFuel"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarTypeOfBody" class="control-label"></label>
                        <select asp-for="CarTypeOfBody" class="form-control" asp-items="ViewBag.CarTypeOfBody"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationNumber" class="control-label"></label>
                        <input asp-for="RegistrationNumber" class="form-control" />
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add car</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-left"></i> Back to cars</a>
        </div>
    }
    else
    {
        <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
        <br />
        <div>
            <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
        </div>
    }
}
else
{
    <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
    <br />
    <div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
