@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{<ul class="navbar-nav" style="border: double; border-color: lightslategray; border-width: 2px; border-radius: 5px">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><center><i class="fa fa-user-circle"></i> - @User.Identity.Name</center></a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <center>
                    <button type="submit" class="nav-link btn btn-link text-dark">
                        Logout
                    </button>
                </center>
            </form>
        </li>
    </ul>
}
else
{<ul class="navbar-nav" style="border: double; border-color: lightslategray; border-width: 2px; border-radius: 5px">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><center>Register</center></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><center>Login</center></a>
        </li>
    </ul>
}

