
@{
    ViewData["Title"] = "Email Send Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Message confirmation</h1>
<hr />
<p>
    Your message has been sent to our company.
</p>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-up"></i> Go to Home page</a>
</div>

